NODE_ENV ="development"
PORT=5090
SECRET_KEY_ONE="SECRET_KEY_ONE09876wert"
SECRET_KEY_TWO="SECRET_KEY_TWO98766wert"
# Database
DB_HOST="localhost"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="task_api_db"

REFRESH_TOKEN_SECRET="36002-8273-773-827-827"
JWT_SECRET= "12436002-827-773-827-827"